* { 
  margin: 0px; 
  padding: 0px; 
  border: 0px; 
  outline: 0px; 
  box-sizing: border-box; 
  text-decoration: none;
  font-family: 'Titillium Web', sans-serif;
}
.container {
  width: 90%;
  margin: auto; 
}
.row {
  width: 100%;
  float: left;
  padding: 10px 0px;
}
.col-1 {
  width: 8.33%;
  float: left;
}
.col-2 {
  width: 16.66%;
  float: left;
}
.col-3 {
  width: 25%;
  float: left;
}


.col-4 {
  width: 33.33%;
  float: left;
}
.col-5 {
  width: 41.66%;
  float: left;
}
.col-6 {
  width: 50%;
  float: left;
}
.col-7 {
  width: 58.33%;
  float: left;
}

.col-8 {
  width: 66.66%;
  float: left;
}
.col-9 {
  width: 75%;
  float: left;
}
.col-10 {
  width: 83.33%;
  float: left;
}
.col-11 {
  width: 91.66%;
  float: left;
}
.col-12 {
  width: 100%;
  float: left;
}
.underline {
border-top: 5px solid #888d91;
width: 8%;
margin: 15px auto;
}
.heading {
font-size: 40px;
letter-spacing: 3px;
font-weight: 600;
line-height: 40px;
text-transform: uppercase;
}
.sub-heading {
font-size: 25px;
font-weight: 600;
line-height: 25px;
text-transform: uppercase;
margin: 10px 0px;
}
.des {
font-size: 20px;
color: #48c1e9;
}
p {
font-size: 17px;
font-weight: 300;
}
section {
padding: 100px 0px!important;
}
/* header part  */
header { 
  background-color: rgb(135, 80, 156); 
  color: white; 
  width: 100%; 
  text-align: center; 
}
.logo-part { 
  width: 50%;
  float: left; 
  text-align: left; 
}
.menu-part { 
  width: 50%; 
  float: left; 
  color: white; 
}
.menu-part ul { 
  padding: 6px 0px; 
  text-align: right; 
}
.menu-part li { 
  list-style: none; 
  display: inline-block; 
  transition: all 0.5s ease-in-out 0s; padding: 7px; 
}
.menu-part li a { 
  font-size: 20px; 
  color: white;
  text-transform: uppercase;
  margin: 0px 5px;
}
.menu-part li:hover { 
  background-color: rgb(100, 58, 121); border-radius: 5px; 
}
.hero-part {
  padding: 150px 0px;
}
.hero-part h1 {
  width: 80%;
  margin: auto;
  font-size: 45px;
  line-height: 45px;
}
.hero-part button {
  background: #eb7d4b;
  color:black;
  font-size: 18px;
  text-transform: uppercase;
  padding: 16px 58px;
  font-weight: 300;
  margin-top: 50px;
  border-radius: 3px;
}
.hero-part button:hover {
  box-shadow: 0px 5px 0px #c86a40;
  color: white;
}
/* service section */
#services { 
  background-color: rgb(23, 194, 164); 
  text-align: center;
  color: white;

}
.service-writing-part { 
  /* text-align: center; 
  margin-top: 100px;  */

}
.service-box-part { 
  margin-top: 50px;
  
}
.service-box { 
  width: 25%; 
  float: left; 
  padding: 0px 50px;
}
.service-box img {
  height: 130px;
}
/* team section  */
#team { 
  background-color:#e7f1f8; 
  color: #3c4761;
  text-align: center;
  
  
}
.team-writting { 
  
}
.team-box-part { 
  
  
  
}
.team-box { 
  width: 25%; 
  float: left; 
padding: 0px 20px;
margin-top: 50px;
}
.team-box img {
  height: 170px;
}
.team-icon {
margin-top: 20px;
}
.team-icon i {
font-size: 20px;
background-color: #bdd1df;
color: white;
padding: 10px;
border-radius: 50%;
width: 40px;
}

#skills { 
  background-color: rgb(255, 255, 255); 
  color: #3c4761; 
  text-align: center; 
}
.skills-writting-part { 
  
  /* margin-top: 100px; s */
}
.skills-box-part { 
  
  margin-top: 100px; 
}
.skills-box { 
  
  width: 25%; 
  margin-top: 50px;
  position: relative; 
  float: left;
  padding: 0px 40px;
}
.skills-box h3 { 
  width:160px; 
  /* text-align: left;  */
  font-weight: 600;
  margin-top: 20px;
  text-transform: uppercase;
  
}
.outer { 
  height: 160px; 
  width: 160px; 
  border-radius: 50%; 
  
  box-shadow: rgba(0, 0, 0, 0.15) 6px 6px 10px -1px, rgba(255, 255, 255, 0.7) -6px -6px 10px -1px; 
  padding: 20px; 
}
.inner { 
  height: 120px; 
  width: 120px; 
  border-radius: 50%; 
  display: flex; 
  align-items: center; 
  
  justify-content: center; 
  box-shadow: rgba(0, 0, 0, 0.2) 4px 4px 6px -1px inset, rgba(255, 255, 255, 0.7) -4px -4px 6px -1px inset, rgb(255, 255, 255) -0.5px -0.5px 0px, rgba(255, 255, 255, 0.15) 0.5px 0.5px 0px, rgba(0, 0, 0, 0.5) 0px 12px 10px -10px; 
}
#number { 
  color: rgb(85, 85, 85); 
  font-size: 40px;
}
circle { 
  fill: none; 
  stroke: rgb(48, 186, 231); 
  stroke-width: 20px; 
  stroke-dasharray: 472; 
  stroke-dashoffset: 472; 
  animation: 2s linear 0s 1 normal forwards running shad-1; 
  
}
svg { 
  position: absolute; 
  top: 0px; 
  left: 40px; 
}
@keyframes shad-1 { 
100% { stroke-dashoffset: 90; }
}
#box-2 { 
  fill: none; 
  stroke: rgb(215, 70, 128); 
  stroke-width: 20px; 
  stroke-dasharray: 472; 
  
  stroke-dashoffset: 472; 
  animation: 2s linear 0s 1 normal forwards running shad-2; 
}
@keyframes shad-2 { 
100% { stroke-dashoffset: 118; }
}
#box-3 { 
  fill: none; 
  stroke: rgb(21, 199, 168); 
  stroke-width: 20px; 
  stroke-dasharray: 472; 
  stroke-dashoffset: 472; 
  animation: 2s linear 0s 1 normal forwards running shad-3; 

}
@keyframes shad-3 { 
100% { stroke-dashoffset: 141; }
}
#box-4 { 
  fill: none; 
  stroke: rgb(235, 125, 75); 
  stroke-width: 20px; 
  stroke-dasharray: 472; 
  stroke-dashoffset: 472; 
  animation: 2s linear 0s 1 normal forwards running shad-4; 
}
@keyframes shad-4 { 
100% { stroke-dashoffset: 165; }
}
#portfolio { 
  background-color: rgb(255, 221, 153); 
  color: #3c4761; 
  text-align: center; 
}
.portfolio-witting-part { 
  
  
  text-align: center; 
}
.port-bnt-box { 
   
  margin-top: 20px; 
}
button a { 
  float: left; 
  
  font-size: 17px;
  background-color: rgb(235, 201, 133); 
  color: rgb(116, 105, 82); 
  width: auto; 
  padding: 5px 20px; 
  text-transform: uppercase; 
  border-radius: 3px; 
  margin: 0px;
}
button a:hover { 
  background-color: rgb(255, 255, 255); color: black; 
}
.portfolio-part { 
  float: left; 
  margin: 20px auto auto; 
  padding-top: 10px; 
  padding-right: 10px; 
  padding-bottom: 100px;
  width: auto; 
  }
.portfolio-box-part { 
  width: 50%; 
  float: left; 
  margin: 20px 0px 60px; 
}
.portfolio-box-part h4 { 
  text-transform: uppercase; 
  margin-top: 30px; 
  text-align: center; 
}
.more-bnt a {
  width: auto;
  background-color: rgb(23, 194, 164);
  color: rgb(0, 0, 0);
  padding: 20px 60px;
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
}
.more-bnt a:hover { 
  box-shadow: rgb(20, 165, 140) 0px 5px 0px; 
  background-color: rgb(23, 194, 164); 
  color: white; 
}
#about-us { 
  background-color: rgb(215, 70, 128); 
  width: 100%; 
  float: left; 
  text-align: center; 
}
.about-witting-part { 
  
  /* margin-top: 100px;  */
  text-align: center; 
  color: white; 
}
.about-us-part {
  
  }
.about-box-part { 
  width: 50%; 
  float: right;
  margin-top: 120px; 
  color: white; 
}
.about-box-part img { 
  position: absolute; 
  margin-left: 0px; 
  display: block; 
}
.about-box-part p { 
  text-align: justify; 
  margin-left: 200px; 
  padding-top: 20px; 
}
.about-box-part h2 { 
  text-align: justify; 
  margin-left: 200px; 
}
.about-box-part h3 { 
  text-align: justify; 
  margin-left: 200px; 
  padding-top: 0px; 
  color: rgb(255, 221, 153); 
}
#about-circle { 
  padding: 10px 0px 0px; 
  margin-left: 50px; 
}
/* contect section  */
#massage { 
  background-color: rgb(60, 84, 153); 
  text-align: center; 
  color: white;
}

.massage-witting-part { 
  
  text-align: center; 
  color: white; 
}

.placeholder1 {
  width: 100%; 
  float: left; 
  text-align: left; 
  margin-top: 50px;
  }
.form1-part {
width: 50%;
float: left;
text-align: right;

}
.form1-part input[type="text"] {width: 68%;background: #273a71;padding: 10px;font-size: 17px;margin-right: 10px;color: white;}

.form2-part {
  text-align: left;
  width: 50%;
  float: left;
}
.placeholder2 {
  
  }
.form2-part input[type="email"] {
  width: 68%;
  background: #273a71;
  padding: 10px;
  font-size: 17px;
  margin-left: 10px;
  color: white;
}

.placeholder2 textarea {
  width: 70%;
  background: #273a71;
  padding: 10px;
  font-size: 17px;
  color: white;
}



.placeholder2 input[type="submit"] {
  background-color: rgb(48, 186, 231);
  color: rgb(0, 0, 0);
  padding: 18px 90px;
  text-align: center;
  border-radius: 5px;
  margin-top: 50px;
  font-size: 19px;
  text-transform: uppercase;
}
.placeholder2 input[type="submit"]:hover { 
  box-shadow: rgb(41, 158, 197) 0px 5px 0px; 
  border-radius: 3px; 
  color: white; 
}
input::placeholder, textarea::placeholder {
  color: white;
}

footer {
  background-color: #344b8e;
text-align: center;
}
footer ul {

padding: 30px 0px;
}
footer ul li {

display: inline-block;

padding: 0px 18px;
}
footer li a {

color: white;

text-decoration: none;

font-size: 20px;

font-weight: 700;
}
footer li a:hover {
  color: #30bae7;
}